@import lib/variables
$input-color-placeholder: lighten($gray-base, 75%)

@import ../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap
@import lib/bootswatch

@import app/landing_pages
@import app/gift_grid
@import app/feed
@import app/friend_button
@import app/friends_list

body
  height: 100vh
  min-height: 100vh
  padding-top: 70px // for navbar-fixed-top

.alert-error
  @extend .alert-danger

#user-dropdown
  padding-top: 2px
  padding-bottom: 0px