doctype html
html
  head
    title GiftRaptor
    link(rel='stylesheet', href='/assets/app.css')
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet")
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href="/") GiftRaptor
    .flash
      .container
        each messages, type in flash
          each message in messages
            div.alert(class=`alert-${type}`)= message
    .container
      block content

